:root {
    --side-bar-width: 250px;
    --remain-width: calc(100% - var(--side-bar-width));
    --main-section-margin: 12px;
}

body {
    font-size: 1.5rem;
    background-color: gainsboro;
}

/***************************************************************/
/*                      main & main layout                     */
/***************************************************************/
.quantri-main {
    display: grid;
    grid-template-columns:
        var(--side-bar-width)
        calc(var(--remain-width) * 3 / 4)
        calc(var(--remain-width) * 1 / 4);
    grid-template-areas: "nav article aside";
}

.modify-wrapper .section-title,
.quantri-main .section-title {
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    padding: 30px 0 5px 0;
    font-weight: 700;
    color: var(--color--primary);
}

nav.quantri-sidebar {
    grid-area: nav;
}

article.quantri-article {
    grid-area: article;
}

aside.quantri-aside {
    grid-area: aside;
}

/***************************************************************/
/*                         header                              */
/***************************************************************/

.quantri-wrapper {
    width: calc(100% - 40px);
    margin: 0 auto;
}

.quantri-header {
    padding: 20px 0;
    background-color: var(--color--primary);
    color: var(--color--text);
    font-weight: 600;
}

.quantri-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantri-header-row .logo {
    width: 300px;
    height: 55px;
    /* border: 1px solid; */
    display: inline-block;
    color: var(--color--text);
    text-decoration: none;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffd402;
    background-image: url(../image/chotot-hcm.jpg);
}

.quantri-header-row .right-col {
    display: flex;
    align-items: center;
}

.quantri-header-row .right-col .btn + .btn {
    margin-left: 10px;
}

.quantri-header-row .avatar-wrap {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.quantri-header__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-image: url(../image/avatar1.png);
}

.quantri-header-row .right-col .btn-back-home {
    color: var(--color--text);
}

.quantri-header-row .right-col .btn-back-home:hover {
    color: var(--color--sub-1);
}

.quantri-header-row .right-col .btn-switch-langue {
    border: 2px solid transparent;
}

.quantri-header-row .right-col .btn-switch-langue:hover {
    border-color: var(--color--sub-1);
}

/***************************************************************/
/*                         side-bar                            */
/***************************************************************/

.quantri-sidebar {
    overflow-y: auto;

    width: var(--side-bar-width);
    height: 100%;
    max-height: 100vh;

    background-color: #31373d;
    color: var(--color--sub-1);
    font-size: 1.6rem;
    font-weight: 550;

    position: -webkit-sticky;

    position: sticky;
    top: 0;
    left: 0;
}

.quantri-sidebar .menu__list--link,
.quantri-sidebar .menu-title {
    position: relative;
    padding: 12px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all 0.3s linear;
}

.quantri-sidebar .menu-title:hover,
.quantri-sidebar .menu-title.sidebar--select {
    color: var(--color--sub-2);
    background-color: #212429;
}

.quantri-sidebar .menu__list--link:hover,
.quantri-sidebar .menu__list--link.sidebar--select {
    color: var(--color--sub-2);
    background-color: #292e36;
}

.quantri-sidebar .menu-title::after {
    text-align: right;
    font-size: 1.2rem;
    content: "▼";

    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.quantri-sidebar .sidebar-item::before {
    content: "»";
    padding-right: 5px;
}

.quantri-sidebar .menu__list--link {
    font-size: 1.45rem;
    padding-left: 15px;
    color: var(--color--sub-3);
    display: block;
}

/***************************************************************/
/*                        artile                               */
/***************************************************************/

.quantri-article {
    background-color: var(--color--light);
    margin: var(--main-section-margin);
    border-radius: 3px;
    padding-bottom: 25px;
}

.quantri-article table {
    margin-top: 4px;
    border-collapse: collapse;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.quantri-article .image {
    padding: 5px;
}

.quantri-article .quantri-table__img {
    width: 65px;
    height: 65px;
    background-image: url(../image/sanpham/sp1_0.jpg);
}

.quantri-article .quantri-table__price {
    min-width: 80px;
}

.quantri-article .quantri-table__modify {
    background-color: var(--color--primary);
    color: var(--color--light);
    padding: 5px;
    border-radius: 3px;
}

.quantri-article .quantri-table__modify:hover {
    opacity: 0.8;
}

/***************************************************************/
/*                         aside                               */
/***************************************************************/

.quantri-aside {
    background-color: var(--color--light);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 3px;
    margin: var(--main-section-margin) 0 0 var(--main-section-margin);
    padding: 0 0 20px 0;
}

#modify-table,
.quantri-aside table {
    width: 100%;
    border-color: rgba(0, 0, 0, 0.226);
}

#modify-table tr:not(:first-child) td,
.quantri-aside tr:not(:first-child) td {
    padding-top: 10px;
}

#modify-table label,
.quantri-aside table label {
    font-weight: 550;
    opacity: 0.8;
}

#modify-table select,
#modify-table input,
.quantri-aside table select,
.quantri-aside table input {
    width: 100%;
    margin-top: 4px;
    padding: 5px 10px;
    font-size: 1.5rem;

    box-sizing: border-box;
}


.filter__btn-filter,
.add-product-table__btn-add,
.modify-table__btn-modify,
.modify-table__btn-remove {
    width: 100%;
    background-color: gainsboro;
    padding: 5px 0;
    font-size: 1.55rem;
    font-weight: 600;
}



.background-fixed-fullscreen {
    display: none;
}

.modify-wrapper {
    background-color: gainsboro;
    margin: auto;
    padding: 10px 10px 40px 10px;
    border-radius: 3px;

    position: relative;
}

#modify-table .btn-group {
    display: flex;
}

#modify-table .product-image-row {
    display: flex;
}

#modify-table #modify-table__image {
    width: 60px;
    height: 60px;
}

#modify-table .modify-table__btn-modify,
#modify-table .modify-table__btn-remove {
    color: var(--color--primary);
}

.modify-wrapper .btn-close-table {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2.4rem;
}




/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .quantri-main {
        display: grid;
        grid-template-columns: var(--side-bar-width) calc(var(--remain-width));
        grid-template-areas: "nav aside"
                             "nav article";
    }

    .quantri-aside {
        margin-right: var(--main-section-margin);
    }
}

/* Mobile */
@media only screen and (max-width: 739px) {
    :root {
        --side-bar-width: calc(100% - 10px);
        --remain-width: 100%;
        --main-section-margin: 0;
    }

    html {
        font-size: 8px;
    }

    .quantri-wrapper {
        width: calc(100% - 10px);
    }

    .quantri-header-row {
        flex-direction: column;
    }

    .quantri-header-row .right-col {
        margin-top: 8px;
    }

    .quantri-main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "nav"
                             "aside"
                             "article";
    }
    
    .quantri-sidebar {
        position: relative;
        margin: 0 auto;
        padding-top: 20px;
        width: 100%;
        background-color: var(--color--light);
        border-radius: 3px;
    }

    .quantri-sidebar .menu__list--link {
        display: none;
    }

    .quantri-article .quantri-table__img {
        width: 30px;
        height: 30px;
    }

    .quantri-article .quantri-table__price {
        min-width: 55px;
    }
}
